<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>CINEMA CNJ65</display-name>

    <!--
      Toan bo Servlet/Filter/Listener trong du an nay khai bao qua ANNOTATION
      (@WebServlet, @WebFilter, @WebListener) ngay trong file .java tuong ung,
      KHONG khai bao lai o day de tranh 2 nguon su that mau thuan nhau.
      File web.xml nay CHI dung cho cau hinh toan cuc khong the/khong nen
      dat trong annotation: session timeout va trang loi.
    -->

    <session-config>
        <session-timeout>30</session-timeout> <!-- phut -->
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>

</web-app>
